<h3>Practice</h3>
<ul>
{{#each model.practice_sessions as |practice_session|}}
  <li>{{#link-to 'practice-session' practice_session.id}} {{practice_session.day}} {{practice_session.session}} {{/link-to}}</li>
{{/each}}
</ul>
{{outlet}}
