<div local-class="round-container">
  <ul local-class="rounds">
  {{#each model.rounds as |round|}}
    <li local-class="round">{{#link-to 'round' round.id}} {{round.name}} {{/link-to}}</li>
  {{/each}}
  </ul>
  {{outlet}}
</div>
