.session-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.sessions {
  list-style-type: none;
  display: flex;
  overflow: auto;
}

.session {
  margin: 9px;
  flex-wrap: nowrap;
}
