.qualifying-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.qualifies {
  list-style-type: none;
  display: flex;
  overflow: auto;
}

.qualify {
  margin: 9px;
  flex-wrap: nowrap;
}
