<div local-class="qualifying-session-container">
  <ul local-class="qualifying-sessions">
    <li local-class="qualifying-session">{{#link-to 'qualify-best-sector' model.id}} Best Sectors {{/link-to}}</li>
    <li local-class="qualifying-session">{{#link-to 'qualify-speed-trap' model.id}} Speed Traps {{/link-to}}</li>
    <li local-class="qualifying-session">{{#link-to 'qualify-result' model.id}} Results {{/link-to}}</li>
  </ul>
</div>

{{outlet}}
