<div>
  <h3>F1</h3>
    {{#carousel-menu}}
      {{#each seasons as |season|}}
        <li local-class="session">{{#link-to 'season' season.id}} {{season.id}} {{/link-to}}</li>
      {{/each}}
    {{/carousel-menu}}
  {{outlet}}
</div>
