<div class="container">
  <div class="page-header">
    <h1 id='title'>Motorsports Stats</h1>
  </div>
  <ul id='series-menu'>
    <li>
      {{#link-to 'f1'}} F1 {{/link-to}} 
    </li>
    <li>
      <a> GP2 </a>
    </li>
    <li>
      <a> F3000 </a>
    </li>
  </ul>
  {{outlet}}
</div>
