<h4>Practice</h4>
<ul>
  <li>{{#link-to 'practice-best-sector' id}} Best Sectors {{/link-to}}</li>
  <li>{{#link-to 'practice-speed-trap' id}} Speed Traps {{/link-to}}</li>
  <li>{{#link-to 'practice-result' id}} Results {{/link-to}}</li>
</ul>
{{outlet}}
