<h4>{{day}} {{session}}</h4>
<ul>
  <li>{{#link-to 'practice-best-sector'}} Best Sectors {{/link-to}}</li>
  <li>{{#link-to 'practice-speed-trap'}} Speed Traps {{/link-to}}</li>
  <li>{{#link-to 'practice-result'}} Results {{/link-to}}</li>
</ul>
{{outlet}}
