<h4>Qualifying Sessions</h4>
<ul>
{{#each qualify_session in qualify_sessions}}
  <li>{{#link-to 'qualify-session' qualify_session.id}} {{qualify_session.day}} {{qualify_session.session}} {{/link-to}}</li>
{{/each}}
</ul>
{{outlet}}
