<h3>Qualifying</h3>
<ul class="qualifying-sessions">
{{#each qualify_sessions as |qualify_session|}}
  <li>{{#link-to 'qualify-session' qualify_session.id}} {{qualify_session.day}} {{qualify_session.session}} {{/link-to}}</li>
{{/each}}
</ul>
