<h4>{{day}} {{session}}</h4>
<ul>
  <li>{{#link-to 'qualify-best-sector' day}} Best Sectors {{/link-to}}</li>
  <li>{{#link-to 'qualify-speed-trap' day}} Speed Traps {{/link-to}}</li>
  <li>{{#link-to 'qualify-result' day}} Results {{/link-to}}</li>
</ul>
{{outlet}}
