<h3>Race</h3>
<ul class="race-result-types">
  <li>{{#link-to 'race-fastest-lap' model.id}} Fastest Laps {{/link-to}}</li>
  <li>{{#link-to 'race-pit-stop' model.id}} Pit Stop {{/link-to}}</li>
  <li>{{#link-to 'race-result' model.id}} Results {{/link-to}}</li>
</ul>
