<h3>Race</h3>
<ul>
  <li>{{#link-to 'race-fastest-lap' id}} Fastest Laps {{/link-to}}</li>
  <li>{{#link-to 'race-pit-stop' id}} Pit Stop {{/link-to}}</li>
  <li>{{#link-to 'race-result' id}} Results {{/link-to}}</li>
</ul>
{{outlet}}
