<h3>{{name}}</h3>
<ul>
{{#each practice in practices}}
  {{practice.id}}
  <li>{{#link-to 'practice' practice.id}} Practice {{/link-to}}</li>
{{/each}}
{{#each qualify in qualifies}}
  {{qualify.id}}
  <li>{{#link-to 'qualify' qualify.id}} Qualify {{/link-to}}</li>
{{/each}}
  <li>{{#link-to 'race' race.id}} Race {{/link-to}}</li>
</ul>
{{outlet}}
