<h3>{{name}}</h3>
<ul>
  <li>{{#link-to 'practice' 'practice'}} Practice {{/link-to}}</li>
  <li>{{#link-to 'qualify' 'qualify'}} Qualify {{/link-to}}</li>
  <li>{{#link-to 'race' 'race'}} Race {{/link-to}}</li>
</ul>
{{outlet}}
