<h3>{{name}}</h3>
<ul>
  <li>{{#link-to 'practice' id}} Practice {{/link-to}}</li>
  <li>{{#link-to 'qualify' id}} Qualify {{/link-to}}</li>
  <li>{{#link-to 'race' id}} Race {{/link-to}}</li>
</ul>
{{outlet}}
