<h3>{{model.name}}</h3>
<ul class="session-types">
  <li>{{#link-to 'practice' model.id}} Practice {{/link-to}}</li>
  <li>{{#link-to 'qualify' model.id}} Qualify {{/link-to}}</li>
  <li>{{#link-to 'race' model.id}} Race {{/link-to}}</li>
</ul>
